:root {
  font-family: 'TikTokFont-Regular', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'TikTokFont-Regular', sans-serif;
}

h1 {
  font-family: 'TikTokFont-Semibold', sans-serif;
}

h2 {
  font-family: 'TikTokFont-Bold', sans-serif;
}

@font-face {
  font-family: 'TikTokFont-Bold';
  src: url('/src/assets/font/TikTokFont-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TikTokFont-Regular';
  src: url('/src/assets/font/TikTokFont-Regular (1).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TikTokFont-Semibold';
  src: url('/src/assets/font/TikTokFont-Semibold.woff2') format('woff2');
  font-weight: 600; /* Semibold typically has a weight of 600 */
  font-style: normal;
}
